body{
    background-color: #020613;
   /* color: white;*/
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    color: whitesmoke;
    font-size: 100px;
}